
.h3.page-header.hidden-xs
  = link_to 'Projects', projects_path
  = dl
  = link_to @project.name, edit_project_path(@project)
  = dl
  Edit Survey

%ul.nav.nav-tabs
  %li#li_survey{ role: :presentation }
    = link_to 'Survey', 'javascript:;', id: :tab_survey
  %li#li_forms{ role: :presentation }
    = link_to 'Forms', 'javascript:;', id: :tab_forms

.col-md-6
  = render partial: 'surveys/edit_survey'
  = render partial: 'surveys/edit_forms'
