<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>ELDAC - Electronic Data Capture</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <div class="container mx-auto mt-4 border-bottom">
        <%= form_with method: 'get', url: search_path, class: 'float-end pt-2' do |form| %>
          <div class="input-group">
            <%= form.text_field :q, placeholder: 'Search', value: params[:q], class: 'form-control' %>
            <button class="input-group-text" id="search"><i class="bi-search"></i></button>
          </div>
        <% end %>
        <h1 class="">
          <%= link_to 'ELDAC', root_path, class: 'text-decoration-none link-dark' %>
        </h1>
      </div>
      <div class="container mx-auto mt-3 pb-5">
        <%= yield %>
      </div>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
